// =============================================
//              Base Styles                         
// =============================================

a {
    color: inherit;
    text-decoration: none;
}

nav {

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }
}

.logo__image path {
    fill: $brand-color;
}