// =============================================
//              Typography                         
// =============================================

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

html {
    font-size: $base-font-size;
}

/*16px*/

%font-family {
    font-family: 'Poppins', sans-serif;
}

body {
    @extend %font-family;
    background-color: $base-color;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
}

p {
    margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
    @extend %font-family;
    margin: 2.75rem 0 1.05rem;
    font-weight: 300;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}

h4 {
    font-size: $h4;
}

h5 {
    font-size: $h5;
}